<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>HAMBURGERS!</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-around">
        <div class="col-5">
            <h4>DEVOUR THEM ALL!!!</h4>
            <ul class="list-group">
                <!--Handlebars for cicle  -->
                {{#each burger}}
                <!--Handlebars not if  -->
                {{#unless devoured}}
                <li class="list-group-item">
                    <!--Handlebars variable (inside the array from DB)  -->
                    {{burger_name}}
                    <!--Handlebars this with variable id from the array DB  -->
                    <button class="btn btn-primary float-right eat-burger" data-id="{{this.id}}">EAT!</button>
                </li>
                <!--Handlebars not if close  -->
                {{/unless}}
                <!--Handlebars for cycle close  -->
                {{/each}}
            </ul>
        </div>

        <div class="col-5">
            <h4>DEVOURED!!!</h4>
            <ul class="list-group">
                <!--Handlebars for cycle  -->
                {{#each burger}}
                <!--Handlebars if  -->
                {{#if devoured}}
                <li class="list-group-item">
                    {{burger_name}}
                    <button class="btn btn-primary float-right delete-burger" data-id="{{this.id}}">DELETE</button>
                </li>
                <!--Handlebars if close  -->
                {{/if}}
                <!--Handlebars for cycle close  -->
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>CREATE YOU OWN HAMBURGER</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="ca">Hamburger Name:</label>
            <input type="text" id="burger" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>